/**
 * Font definitions for Appverse
 */

@font-face {
  font-family: 'Serifa Std';
  src: url('./fonts/SerifaStd-Black.woff2') format('woff2'),
       url('./fonts/SerifaStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
